<?xml version="1.0"?>
<model>
  <name>robo_raceway_overpass</name>
  <version>1.0</version>
  <sdf version="1.6">robo_raceway_overpass.sdf</sdf>
  <author>
    <name>hewhoshallnotbenamed</name>
    <email>hewsnbn@gmail.com</email>
  </author>
  <description>A model of the robo Car Raceway Overpass. (Original author Benjamin Perseghetti bperseghetti@rudislabs.com)</description>
</model>
