<?xml version="1.0"?>
<model>
  <name>Robo Car</name>
  <version>1.0</version>
  <sdf version="1.5">robo_car.sdf</sdf>
  <author>
    <name>hewhoshallnotbenamed</name>
    <email>hewsnbn@gmail.com</email>
  </author>
  <description>A model of the Robo Car. (Original author Benjamin Perseghetti bperseghetti@rudislabs.com)</description>
</model>
