<?xml version="1.0"?>
{% set sdf_version = '1.5' if sdf_version == 'NotSet' else sdf_version %}
<model>
  <name>{{ model_name }}</name>
  <version>1.0</version>
  <sdf version='{{ sdf_version }}'>{{ model_name }}.sdf</sdf>

  <author>
   <name>hewhoshallnotbenamed</name>
    <email>hewsnbn@gmail.com</email>
  </author>

  <description>
    Generated model file. (Original author Benjamin Perseghetti bperseghetti@rudislabs.com)
  </description>
</model>
